<div>
    <h2 translate="yoUVcodeApp.blog.home.title">Blogs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="blog.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="yoUVcodeApp.blog.home.createLabel">
                        Create new Blog
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'yoUVcodeApp.blog.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="blogTitle"><span translate="yoUVcodeApp.blog.blogTitle">Blog Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="yoUVcodeApp.blog.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="hits"><span translate="yoUVcodeApp.blog.hits">Hits</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="blogUrl"><span translate="yoUVcodeApp.blog.blogUrl">Blog Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="active_ind"><span translate="yoUVcodeApp.blog.active_ind">Active Ind</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="publishDate"><span translate="yoUVcodeApp.blog.publishDate">Publish Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created_date"><span translate="yoUVcodeApp.blog.created_date">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="last_chng_date"><span translate="yoUVcodeApp.blog.last_chng_date">Last Chng Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category_idId"><span translate="yoUVcodeApp.blog.category_id">Category Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="subCategory_idId"><span translate="yoUVcodeApp.blog.subCategory_id">Sub Category Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status_idId"><span translate="yoUVcodeApp.blog.status_id">Status Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created_byLogin"><span translate="yoUVcodeApp.blog.created_by">Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="last_chng_byLogin"><span translate="yoUVcodeApp.blog.last_chng_by">Last Chng By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="blog in vm.blogs track by blog.id">
                    <td><a ui-sref="blog-detail({id:blog.id})">{{blog.id}}</a></td>
                    <td>{{blog.blogTitle}}</td>
                    <td>{{blog.description}}</td>
                    <td>{{blog.hits}}</td>
                    <td>{{blog.blogUrl}}</td>
                    <td>{{blog.active_ind}}</td>
                    <td>{{blog.publishDate | date:'medium'}}</td>
                    <td>{{blog.created_date | date:'medium'}}</td>
                    <td>{{blog.last_chng_date | date:'medium'}}</td>
                    <td>
                        <a ui-sref="category-detail({id:blog.category_idId})">{{blog.category_idId}}</a>
                    </td>
                    <td>
                        <a ui-sref="subcategory-detail({id:blog.subCategory_idId})">{{blog.subCategory_idId}}</a>
                    </td>
                    <td>
                        <a ui-sref="blog-status-detail({id:blog.status_idId})">{{blog.status_idId}}</a>
                    </td>
                    <td>
                        {{blog.created_byLogin}}
                    </td>
                    <td>
                        {{blog.last_chng_byLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="blog-detail({id:blog.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="blog.edit({id:blog.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="blog.delete({id:blog.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
